In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#meta_data = pd.read_fwf("descr-censusData.txt")
#meta_data.loc[50:120]
meta_data = []
filepath = "descr-censusData.txt"
try: 
    f = open(filepath,"r")
    for i,line in enumerate(f):
        if(i >= 96):
            meta_data.append(line.split(":")[0])
except:
    print("No such file")

with open("descr-censusData.txt") as descrFile:
    lines = descrFile.readlines()
colNames = [line.split(':')[0] for line in lines[-14:]]
colNames
meta_data = colNames
meta_data.append("decision")
meta_data

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'decision']

In [99]:
print(lines[0].split.__doc__)

Return a list of the words in the string, using sep as the delimiter string.

  sep
    The delimiter according which to split the string.
    None (the default value) means split according to any whitespace,
    and discard empty strings from the result.
  maxsplit
    Maximum number of splits to do.
    -1 (the default value) means no limit.

In [100]:
#! pip install matplotlib

In [101]:
data = pd.read_csv("censusData", names = meta_data, sep = ", ", engine = "python", na_values= "?", header = None)

In [102]:
print(len(meta_data[:]))
print(len(meta_data[:-1]))
print(meta_data)

15
14
['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'decision']

In [103]:
#https://note.nkmk.me/en/python-pandas-duplicated-drop-duplicates/
data_duplicated = data[data.duplicated()]

In [104]:
data.duplicated().value_counts()

False    32537
True        24
dtype: int64

In [105]:
data.duplicated().sum()

24

In [106]:
data.duplicated().value_counts()

False    32537
True        24
dtype: int64

In [107]:
data.duplicated(subset=meta_data[:-1]).value_counts()

False    32536
True        25
dtype: int64

In [108]:
data_duplicated_without_decision = data[data.duplicated(subset=meta_data[:-1],keep=False)]

In [109]:
data_duplicated_without_decision.drop_duplicates(keep=False)        # takie same atrybuty, sprzeczny atrybut decyzyjny

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,decision
848,39,Private,138192,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
22761,39,Private,138192,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K

In [110]:
data.T.isna().any().value_counts()

False    30162
True      2399
dtype: int64

In [111]:
data.isna().any()

age               False
workclass          True
fnlwgt            False
education         False
education-num     False
marital-status    False
occupation         True
relationship      False
race              False
sex               False
capital-gain      False
capital-loss      False
hours-per-week    False
native-country     True
decision          False
dtype: bool

In [112]:
data['workclass'].isna().value_counts()

False    30725
True      1836
Name: workclass, dtype: int64

In [113]:
for series in data:
    print(data[series].unique())

[ 39  50  38  53  28  37  49  52  31  42  30  23  32  40  34  25  43  54
  35  59  56  19  20  45  22  48  21  24  57  44  41  29  18  47  46  36
  79  27  67  33  76  17  55  61  70  64  71  68  66  51  58  26  60  90
  75  65  77  62  63  80  72  74  69  73  81  78  88  82  83  84   3 237
  85  86  87]
['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov' nan
 'Self-emp-inc' 'Without-pay' 'Never-worked']
[ 77516  83311 215646 ...  34066  84661 257302]
['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']
[13  9  7 14  5 10 12 11  4 16 15  3  6  2  1  8]
['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']
['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' nan
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']
['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']
['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
['Male' 'Female']
[ 2174     0 14084  5178  5013  2407 14344 15024  7688 34095  4064  4386
  7298  1409  3674  1055  3464  2050  2176   594 20051  6849  4101  1111
  8614  3411  2597 25236  4650  9386  2463  3103 10605  2964  3325  2580
  3471  4865 99999  6514  1471  2329  2105  2885 25124 10520  2202  2961
 27828  6767  2228  1506 13550  2635  5556  4787  3781  3137  3818  3942
   914   401  2829  2977  4934  2062  2354  5455 15020  1424  3273 22040
  4416  3908 10566   991  4931  1086  7430  6497   114  7896  2346  3418
  3432  2907  1151  2414  2290 15831 41310  4508  2538  3456  6418  1848
  3887  5721  9562  1455  2036  1831 11678  2936  2993  7443  6360  1797
  1173  4687  6723  2009  6097  2653  1639 18481  7978  2387  5060]
[   0 2042 1408 1902 1573 1887 1719 1762 1564 2179 1816 1980 1977 1876
 1340 2206 1741 1485 2339 2415 1380 1721 2051 2377 1669 2352 1672  653
 2392 1504 2001 1590 1651 1628 1848 1740 2002 1579 2258 1602  419 2547
 2174 2205 1726 2444 1138 2238  625  213 1539  880 1668 1092 1594 3004
 2231 1844  810 2824 2559 2057 1974  974 2149 1825 1735 1258 2129 2603
 2282  323 4356 2246 1617 1648 2489 3770 1755 3683 2267 2080 2457  155
 3900 2201 1944 2467 2163 2754 2472 1411]
[40 13 16 45 50 80 30 35 60 20 52 44 15 25 38 43 55 48 58 32 70  2 22 56
 41 28 36 24 46 42 12 65  1 10 34 75 98 33 54  8  6 64 19 18 72  5  9 47
 37 21 26 14  4 59  7 99 53 39 62 57 78 90 66 11 49 84  3 17 68 27 85 31
 51 77 63 23 87 88 73 89 97 94 29 96 67 82 86 91 81 76 92 61 74 95]
['United-States' 'Cuba' 'Jamaica' 'India' nan 'Mexico' 'South'
 'Puerto-Rico' 'Honduras' 'England' 'Canada' 'Germany' 'Iran'
 'Philippines' 'Italy' 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador'
 'Laos' 'Taiwan' 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador'
 'France' 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands'
 'Unimed-States']
['<=50K' '>50K']

In [114]:
bins = [0, 18, 65, float("inf")]
popCats = ["young", "adult", "retired"]
test = pd.DataFrame()
test['age'] = data['age']
test['group_age'] = pd.cut(x=data['age'], bins=bins, labels=popCats)

data['group_age'] = pd.cut(x=data['age'], bins=bins, labels=popCats)

In [115]:
data =  data.drop_duplicates()
#data.duplicated().any()

In [116]:
data.isna().any()

age               False
workclass          True
fnlwgt            False
education         False
education-num     False
marital-status    False
occupation         True
relationship      False
race              False
sex               False
capital-gain      False
capital-loss      False
hours-per-week    False
native-country     True
decision          False
group_age         False
dtype: bool

In [126]:
l = [(data[col].unique()) for col in data.columns]
list(zip(data.columns, l))
#l = [np.sort(data[col].unique()) for col in data.columns]
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32535 entries, 0 to 32560
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32535 non-null  int64
 1   workclass       30699 non-null  object
 2   fnlwgt          32535 non-null  int64
 3   education       32535 non-null  object
 4   education-num   32535 non-null  int64
 5   marital-status  32535 non-null  object
 6   occupation      30692 non-null  object
 7   relationship    32535 non-null  object
 8   race            32535 non-null  object
 9   sex             32535 non-null  object
 10  capital-gain    32535 non-null  int64
 11  capital-loss    32535 non-null  int64
 12  hours-per-week  32535 non-null  int64
 13  native-country  31953 non-null  object
 14  decision        32535 non-null  object
 15  group_age       32535 non-null  category
dtypes: category(1), int64(6), object(9)
memory usage: 4.0+ MB

In [120]:
#data['native-country'].value_counts()
len(data[data['capital-gain'] == 99999])

159

In [123]:
data = data[data['age'] > 3]
data = data[data['age'] < 150]

len(data)

32535

In [132]:
converters = {col : str.strip for col in meta_data}
converters
funkcja = lambda x: int(str.strip(x))
numCols = ['hours-per-week', 'capital-loss', 'capital-gain', 'education-num', 'fnlwgt', 'age']
converters.update(zip(numCols, [f]*len(numCols)))
converters

{'age': <_io.TextIOWrapper name='descr-censusData.txt' mode='r' encoding='cp1252'>,
 'workclass': <method 'strip' of 'str' objects>,
 'fnlwgt': <_io.TextIOWrapper name='descr-censusData.txt' mode='r' encoding='cp1252'>,
 'education': <method 'strip' of 'str' objects>,
 'education-num': <_io.TextIOWrapper name='descr-censusData.txt' mode='r' encoding='cp1252'>,
 'marital-status': <method 'strip' of 'str' objects>,
 'occupation': <method 'strip' of 'str' objects>,
 'relationship': <method 'strip' of 'str' objects>,
 'race': <method 'strip' of 'str' objects>,
 'sex': <method 'strip' of 'str' objects>,
 'capital-gain': <_io.TextIOWrapper name='descr-censusData.txt' mode='r' encoding='cp1252'>,
 'capital-loss': <_io.TextIOWrapper name='descr-censusData.txt' mode='r' encoding='cp1252'>,
 'hours-per-week': <_io.TextIOWrapper name='descr-censusData.txt' mode='r' encoding='cp1252'>,
 'native-country': <method 'strip' of 'str' objects>,
 'decision': <method 'strip' of 'str' objects>}

In [134]:
#data = pd.read_csv("censusData" , names = meta_data, converters=converters)
#data.replace('?', np.NaN)